<h1>CafeJS</h1>

<% if (user) { %>
    <p>Welcome, <%= user.username %>!</p>
<% } %>

<a href="/cart">View my cart</a>

<h2>Products</h2>
<ul>
    <% products.forEach( (product) => { %>
        <li><a href="/product/<%= product.id %>"><%= product.name %></a> - PHP <%= product.price %></li>
    <% }); %>
</ul>